body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 100px;
}

h1 {
    color: #2c3e50;
    font-size: 80px;
}

p {
    font-size: 50px;
    color: #34495e;
}

img {
    border-radius: 100%;
    width: 700px;
    margin: 60px 0;
}

a {
    font-size: 50px;
}

button {
    font-size: 50px;
}